<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Lexend Deca"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- navbar start -->
    <header class="header">
      <h2 class="h2">AboutMe.</h2>
      <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="">Service </a>
        <a href="">Portfolio</a>
        <a href="">Resume</a>
        <a href="">Blog</a>
        <a href="">ContAct</a>
      </nav>
    </header>
    <!-- navbar end  -->
    <!-- section1 start -->
    <section class="home" id="home">
      <div class="content">
        <h2>Hello,Welcome</h2>
        <h1>I`m Saidmuhammadali</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur <br />
          adipisicing elit. At, ex?
        </p>
        <a class="btn" href="#contactus" id="">Contact us</a>
      </div>
      <div class="img">
        <img src="../images/istockphoto-653844452-612x612.jpg" alt="" />
      </div>
    </section>
    <!-- section1 end -->
    <!-- section2 start -->
    <section class="about" id="about"></section>
    <!-- section2 end -->
    <script src="/js.js"></script>
  </body>
</html>
